/* 
========================================
 ---------------------- STYLING 
========================================
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/* ------------------------------------------- colors */
$whitebg: #fff;
$greybg: #f6f6f6;
$blackbg: #353535;
$primaryC: #9356DC;
$secondaryC: #FF79DA;
$tertiaryC: #99E2D0;

/* ------------------------------------------- misc */
$borderRadius: 1rem;

/* ------------------------------------------- mixins */
@mixin boxshadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
}
@mixin boxshadowhover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


/* ------------------------------------------- Initialisation */
html {
	scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: roboto, sans-serif;
    font-weight: 300;
}
h1, h2, h3{
    margin:0;
}
img{
    max-width:100%;
}
a{
  color: #000;
    text-decoration: none;
}
input {
    background:none;
    border:none;
}
input:focus-visible {
    outline:none
}
ul{
    padding:0;
    margin:0;
    li{
        list-style: none;
    }
}





/* 
========================================
 ---------------------- HEADER  
========================================
*/
.logo{
    position: relative;
    display:flex;
    justify-content:center;
    width:auto;
    z-index:20;
    padding:20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background:$whitebg;
    img {
        max-width:200px;
    }
}





/* 
========================================
---------------------- Content  
========================================
*/
.maxwidth{
    max-width:1080px;
    margin:auto;
}

.localisation{
    position:relative;
    padding:20px;
    font-size:15px;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
    background:#eaeaea;
    i{
        font-size:20px;
    }
    .localisation_input{
        font-weight: 600;
        font-size:16px;
        width: 150px;
        text-align: center;
    }
}

.title1, .title0{
    font-size:25px;
    font-weight:900;
}
.title2{
    font-size:16px;
    font-weight:900;
}

.section{
    padding:3rem 1rem;
    .section_content{
        margin:1.5rem 0;
    }
    &_center{
        text-align: center;
    }

    /* ------------------------------------------- Menusection */
    // &_menu{

    // }

    /* ------------------------------------------- Background Color */
    &_grey{
        background:$greybg;
        .card{
            background:$whitebg;
        }
    }
    &_white{
        background:$whitebg;
        .card{
            background:$greybg;
        }
    }

}





/* 
========================================
---------------------- Button  
========================================
*/
.btn{
    display:inline-block;
    padding: 1rem 1.5rem;
    margin:1rem 0!important;
    border-radius:10rem;
    @include boxshadow();
    &_gradient{
        background: $primaryC;
        background: linear-gradient(0deg, $primaryC 0%, $secondaryC 120%);
        color:#fff;
        transition:.5s;
        &:hover{
            box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
            filter: brightness(1.2) grayscale(0.2);
            transition:.2s;
        }
    }
}




/* 
========================================
 ---------------------- grids  
========================================
*/
.grid {
    display: grid;
    &-3c{
        gap:1.75rem;
        // grid-template-columns: repeat(3, 1fr);
    }
    &-2c{
        gap:1.5rem;
        // grid-template-columns: repeat(2, 1fr);
    }
    &-1c{
        gap:1rem;
    }
}





/* 
========================================
 ---------------------- Cards  
========================================
*/

.card{
    p {
        margin:0;
    }
    display:flex;
    align-items: center;
    padding: 1rem;
    border-radius:$borderRadius;

    &-shadow{
        @include boxshadow();
    }
    &-marginleft{
        margin-left:1rem
    }

    /* ------------------------------------------- Cardlist */
    .card_list{
        order:2;
        display:flex;
        align-items: center;
        width:100%;
        .fas{
            font-size:1.5rem;
            opacity: 0.5;
            margin: .75rem 1.5rem;
        }
        .fa-primaryC{
            color:$primaryC;
            opacity: 1;
        }
    }
    .card_number{
        order:1;
        position: relative;
        margin-left:-2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:10rem;
        color:#fff;
        background:$primaryC;
        height:35px!important;
        width:35px!important;
    }

    /* ------------------------------------------- CardPrice */
}

/* ------------------------------------------- restolist */
.restolist{
    img{
        flex:0 0 100%;
        width:100%;
        height:200px;
        object-fit: cover;
        object-position: center;
        border-radius:$borderRadius $borderRadius 0 0;
        margin-bottom:-4px;
    }
    .restolist_info{
        justify-content: space-between;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .btn_new{
        display: flex;
        justify-content: end;
        position: relative;
        margin-bottom: -50px;
        padding-top:15px;
        margin-right:15px;
        .btn_new-green{
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            background:$tertiaryC;
            padding:.5rem .75rem;
            border-radius:3px;
            p {
                margin:0;
                font-weight: 900;
                opacity:0.5;
            }
        }
    }
}





/* 
========================================
 ---------------------- Footer  
========================================
*/
.nav {
    background:$blackbg;
    color:$whitebg;
    padding:2rem;
    .nav_logo {
        width:100px;
        padding:.5rem 0;
    }
    a{
        color: $whitebg;
    }
    .nav_links{
        display: flex;
        flex-direction: column;
        padding-top:.5rem;
        gap:.5rem;
        i{
            width:25px;
        }
    }
}





/* 
========================================
 ---------------------- RESPONSIVE TABLET
========================================
*/
@media (min-width: 801px) {
    .title0{
        font-size: 2rem;
    }
    /* ------------------------------------------- Grids */
    .grid {
        display: grid;
        &-3c{
            gap:.5rem;
            grid-template-columns: repeat(3, 1fr);
        }
        &-2c{
            column-gap:3rem;
            row-gap:1.5rem;
            grid-template-columns: repeat(2, 1fr);
        }
        &-1c{
            gap:1rem;
        }
    }

    /* ------------------------------------------- footer */
    .nav {
        padding-top:4rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap:3rem;
        .nav_logo {
            order:2
        }
        .nav_links{
            display: flex;
            flex-direction: row;
            gap:.5rem;
            
        }
        ul 
        {
            order:1;
            display: flex;
            flex-direction: row;
            gap:1.5rem;
        }
    }
}





/* 
========================================
 ---------------------- RESPONSIVE DESKTOP
========================================
*/
@media (min-width: 1025px) {
    .section{
        padding: 2rem 3rem
    }
    /* ------------------------------------------- Grids */
    .grid {
        display: grid;
        &-3c{
            gap:1rem;
        }
        &-2c{
            column-gap:5rem;
            row-gap:2rem;
        }
        &-1c{
            gap:1rem;
        }
    }

    /* ------------------------------------------- footer */
    .nav {
        gap:5rem;
        .nav_links{
            gap:1rem;
            
        }
        ul 
        {
            gap:3rem;
        }
    }
}





/* 
========================================
 ---------------------- ANIMATIONS
========================================
*/
/* ------------------------------------------- Loading */
.loading{
    z-index:-2;
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255, 0.9);
    animation: vanish 3s; 
    opacity:0; 
    .loading_anim{
        font-size:4rem;
        color: $primaryC;
        animation: spin 1.5s 2;  
    }
    @keyframes spin {
        from {
            rotate: 360deg;
            color: $primaryC;
        }
    
        20% {
            rotate: 430deg;
            font-size:8rem;
            color: $secondaryC;
        }
        55%{
            font-size:8rem;
        }
        to {
            font-size:4rem;
            color: $primaryC;
            rotate: 0deg;
            display: none;
        }
    }
    @keyframes vanish {
        from {
            opacity: 0;
            z-index: 50;
        }
        15% {
            opacity: 1;
            z-index: 50;
        }
        90% {
            opacity: 1;
            z-index: 50;
        }
        to{
            opacity: 0;
            z-index: -50;
        }
    }
}


/* ------------------------------------------- Heart */
.fa-heart{
    font-size:1.5rem;
    margin:0 1rem;
    &:hover, &:hover:before {
        background: linear-gradient(180deg, $primaryC 0%,$secondaryC 100%,);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        animation: heartanim .5s ease-out;
    }
    &:hover:before{
        font: var(--fa-font-solid);
        content: '\f004';
    }
    @keyframes heartanim {
        from {
            background: linear-gradient(180deg,transparent 50%,$primaryC 50%,$secondaryC 120%,) 0 0 / 50% 200%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }
        
        50% {
            
            background-position: 40% 100%;
        }
        
        90% {
            
            background-position: 20% 100%;
        }
        to {
            background: linear-gradient(180deg,transparent 50%,$primaryC 50%,$secondaryC 100%,) 0 0 / 50% 200%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-position: 0% 100%;
        }
    }
}
