/* 
========================================
 ---------------------- RESPONSIVE TABLET
========================================
*/
@media (min-width: 801px) {
    .title0{
        font-size: 2rem;
    }
    /* ------------------------------------------- Grids */
    .grid {
        display: grid;
        &-3c{
            gap:.5rem;
            grid-template-columns: repeat(3, 1fr);
        }
        &-2c{
            column-gap:3rem;
            row-gap:1.5rem;
            grid-template-columns: repeat(2, 1fr);
        }
        &-1c{
            gap:1rem;
        }
    }

    /* ------------------------------------------- Restopage */
    .menutitle{
        justify-content: center!important;
        gap:1rem;
    }
    .headerimg img{
        height:300px;
    }
    /* ------------------------------------------- footer */
    .nav {
        padding-top:4rem;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap:3rem;
        .nav_logo {
            order:2
        }
        ul
        {
            order:1;
            display: flex;
            flex-direction: row;
            gap:2rem;
        }
        
    }
}