/* 
========================================
 ---------------------- HEADER  
========================================
*/
.logo{
    position: relative;
    display:flex;
    justify-content:center;
    width:auto;
    z-index:20;
    padding:20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background:$whitebg;
    img {
        max-width:200px;
    }
    .headerback{
        position: absolute;
        font-size: 1.5rem;
        top:1.5rem;
        left:1.5rem
    }
}